{% extends "master_templates/common_template.html" %}
{% load staticfiles %}

{% block topbar %}{% include "bar_templates/user_sidebar.html" %}{% endblock %}

{% load guardian_tags %}

{% block templ %}

    <div class="ui bottom attached segment">
        <div class="ui grid">
            <div class="left floated nine wide column">
                <div class="ui basic vertical left aligned segment {% include "snippets/big_text.html" %}">{{ user.username }}`s tasks</div>
            </div>
            {% if request.user == user %}
                {% if perms.website.add_task %}
                    <div class="right floated seven wide column">
                        <a class="ui segment center_aligned {% include "snippets/mini_text.html" %}" href="{% url 'task_creation_view' %}">
                            Create task
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="ui clearing divider"></div>
        <table class="ui celled center aligned basic unstackable table">
            <thead>
                <th class="one wide">#</th>
                <th class="nine wide">Name</th>
                <th class="four wide">Tags</th>
                <th class="one wide">Cost</th>
                <th class="one wide">Solved</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td class="left aligned">
                            <a href="{% url 'task_view' task.id %}">
                                {{ task.name }}
                            </a>
                        </td>
                        <td>
                            {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
                        </td>
                        <td>
                            {{ task.cost }}
                        </td>
                        <td>
                            {{ task.solved_count }}
                        </td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "snippets/pagination.html" with page_name='user_tasks_view_with_page' %}
    </div>

{% endblock %}