{% extends "master_templates/common_template.html" %}
{% load staticfiles %}


{% block templ %}

    <div class="ui bottom attached segment">
        <table class="ui celled center aligned basic unstackable table">
            <thead>
                <th class="two wide">Place</th>
                <th class="nine wide">User</th>
                <th class="five wide">Points</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter|add:start_number }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.cost_sum }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}