amqp==2.3.2
autopep8==1.4
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
Django==2.1.1
django-countries==5.3.2
django-debug-toolbar==1.10.1
django-debug-toolbar-template-profiler==1.0.2
django-guardian==1.4.9
django-js-asset==1.1.0
django-mptt==0.9.1
django-mptt-admin==0.6.0
django-npm==1.0.0
django-pagedown==1.0.6
django-redis==4.9.0
django-settings-export==1.2.1
django-silk==3.0.1
django-stdimage==4.0.0
django-user-agents==0.3.2
djdt-flamegraph==0.2.12
gprof2dot==2017.9.19
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
markdown2==2.3.5
MarkupSafe==1.0
Pillow==5.2.0
progressbar2==3.38.0
pycodestyle==2.4.0
Pygments==2.2.0
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
sqlparse==0.2.4
ua-parser==0.8.0
urllib3==1.23
user-agents==1.1.0
vine==1.1.4
