{% load staticfiles %}
<div class="ui basic vertical segment">
    {% if task.contests.count > 0 %}
        <div class="ui segment">
            {% for contest in task.contests.all %}
            	<a class="center_aligned big_text" href="{% url 'contest_view' contest.id %}">
                	{{ contest.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="ui segment">
    	<div class="center_aligned">
        	Materials
        </div>
        <div class="ui clearing divider"></div>
        <div class="center_aligned">
            Some links
        </div>
    </div>
</div>