{% if request.user == user %}
    <div class="ui top attached five item menu">
        <a class="item" href="{% url 'user_info' user.username %}">{{ user.username }}</a>
        <a class="item" href="{% url 'user_blog_view' user.username %}">Blog</a>
        <a class="item" href="{% url 'user_tasks_view' user.username %}">Tasks</a>
        <a class="item" href="{% url 'settings_general_view' %}">General</a>
        <a class="item" href="{% url 'settings_social_view' %}">Social</a>
    </div>
{% else %}
    <div class="ui top attached three item menu">
        <a class="item" href="{% url 'user_info' user.username %}">{{ user.username }}</a>
        <a class="item" href="{% url 'user_blog_view' user.username %}">Blog</a>
        <a class="item" href="{% url 'user_tasks_view' user.username %}">Tasks</a>
    </div>
{% endif %}