*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 15px;
}

.logo {
	float: left;
}

.sign_form {
	float: right;
	position: relative;
	top: 1em;
	font-size: 20px;
}

.sign_form a:hover {
	text-decoration: underline;
}

.top_header {
	background-color: #fff;
	padding-top: 1em;
}

.links {
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	width: 100%;
}

.links a {
	color: #000;
	flex-basis: 100%;
	text-align: center;

	font-size: 25px;
	position: relative;
	top: 0.1em;
}

.main_menu {
	margin-top: 1em;
	border: 0.15em solid #AAAAAA;
	border-radius: 0.5em;
	min-height: 3em;
}

.topline {
	margin: 0 1em;
}

.main_page_content {
	display: flex;
	justify-content: flex-end;
}

.wall {
	flex-basis: 0;
	flex-grow: 3;
	margin-right: 2em;
}

.sidebar {
	flex-basis: 0;
	flex-grow: 1;
}

.main {
	padding-top: 3em;
}

.main_content {
	margin: 0 1em;
}

.contest_sidebar {
	border: 0.15em solid #AAAAAA;
	border-radius: 0.5em;
	min-height: 10em;
}

.rating_sidebar {
	margin-top: 2em;
	border: 0.15em solid #AAAAAA;
	border-radius: 0.5em;
	min-height: 20em;
}

.find_user_sidebar {
	margin-top: 2em;
	border: 0.15em solid #AAAAAA;
	border-radius: 0.5em;
	min-height: 5em;
}

.post {
	margin-bottom: 3.5em;
}

.post_title {
	font-size: 25px;
	color: #1480B9;
}

.post_owner {
	margin-top: 0.3em;
}

.post_content {
	margin-top: 1em;
	padding-right: 10px;
	padding-left: 0.4em;
	border-left: 0.3em solid #B9B9B9
}

.footer {
	margin-top: 10em;
}

.footer_content {
	text-align: center;
}

.sign_content {
	margin: 2em;
}

.sign_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55%;
	margin: 2em auto;
	border: 0.15em solid #AAAAAA;
	border-radius: 0.5em;
}

.sign_menu .left {
	flex-basis: 0;
	flex-grow: 1;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1.5em;
}


.sign_menu input[type="text"],
.sign_menu input[type="password"] {
  margin-bottom: 1em;
  width: 100%;
  height: 2em;
  border: none;
  border-bottom: 1px solid #AAA;
}

.sign_menu input[type="text"]:focus,
.sign_menu input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.sign_menu input[type="submit"] {
  margin-top: 1em;
  width: 100%;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-size: 20px;
  transition: 0.1s ease;
  cursor: pointer;
}

.sign_menu input[type="submit"]:hover,
.sign_menu input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.sign_menu input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.sign_menu .or {
	flex-basis: 2.5em;
	flex-grow: 0;
	flex-shrink: 0;
	width: 2.5em;
	height: 2.5em;
	background: #DDD;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	line-height: 2.5em;
	text-align: center;
}

.sign_menu .right {
	flex-basis: 0;
	flex-grow: 1;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sign_menu .right button.social-signin {
	width: 100%;
	border: none;
	border-radius: 2px;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
}

.sign_menu button.social-signin:hover,
.sign_menu button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.sign_menu button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.sign_menu button.social-signin.facebook {
  background: #32508E;
}

.sign_menu button.social-signin.twitter {
  background: #55ACEE;
}

.sign_menu button.social-signin.google {
  background: #DD4B39;
}