.center_aligned {
	display: flex;
	justify-content: center;
}

.big_text {
	font-size: 1.3rem !important;
}

.huge_text {
	font-size: 2rem !important;
}

.inline {
	display: inline;
}

input[type="tags"] {
	vertical-align: middle;
	border: none;
}

input[type="tags"]:focus {
	outline: none;
}