.center_aligned {
	display: flex;
	justify-content: center;
}

.big_text {
	font-size: 1.3rem !important;
}

.huge_text {
	font-size: 2rem !important;
}

.inline {
	display: inline;
}

input[type="tags"] {
	vertical-align: middle;
	border: none;
}

input[type="tags"]:focus {
	outline: none;
}

a.disabled {
	pointer-events: none;
}

.markdown {
	word-wrap: break-word;
}

.break_word {
	word-wrap: break-word;
}

.markdown img {
	max-width: 100%;
}