{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    </head>
    <body>
        <div class="resend_wrap">
            <div class="resend_block">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="Email"/>
                    {% for message in messages %}
                        {% if 'email' in message.tags %}
                            <div class="m_error">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Resend confirmation email" />
                </form>
            </div>
        </div>
    </body>
</html>