{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>CTForces</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.2.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/fancybox/jquery.fancybox.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/owl-carousel/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/countdown/jquery.countdown.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
</head>

<body>

{% block header %}

    <div class="top_header">
        <div class="container">
            <div class="topline">
                <div class="row">
                    <div class="logo">
                        <a href="/"> <img src="{% static 'img/cat.gif' %}" alt=""> </a>
                    </div>
                    <div class="sign_form">
                        {% if not request.user %}
                            <a href="/signin/">SignIn</a> /
                            <a href="/signup/">SignUp</a>
                        {% else %}
                            <a href="/user/{{ request.user.username }}">{{ request.user.username }}</a> /
                            <a href="/logout/">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="main_menu">
                <div class="row">
                    <div class="links">
                        <a href="#">Home</a>
                        <a href="#">Contests</a>
                        <a href="#">Problemset</a>
                        <a href="#">Rating</a>
                        <a href="#">Nikitin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}{% endblock %}

    <div class="footer">
        <div class="container">
            <div class="footer_content">
                Powered by KekusCorporation.
            </div>
        </div>
    </div>

<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
<script src="{% static 'libs/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'libs/jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'libs/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'libs/waypoints/waypoints-1.6.2.min.js' %}"></script>
<script src="{% static 'libs/scrollto/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'libs/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/countdown/jquery.plugin.js' %}"></script>
<script src="{% static 'libs/countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'libs/countdown/jquery.countdown-ru.js' %}"></script>
<script src="{% static 'libs/landing-nav/navigation.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>