{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="ui container">
        <div class="ui grid">
            {% if not request.user_agent.is_mobile %}
            <div class="eleven wide column">
            {% else %}
            <div class="sixteen wide column">
            {% endif %}
                <div class="ui basic vertical segment">
                    {% block topbar %}{% endblock %}
                    {% block templ %}{% endblock %}
                </div>
            </div>
            {% if not request.user_agent.is_mobile %}
                <div class="five wide column">
            {% else %}
                <div class="ui vertical right sidebar menu" id="right_sidebar">
                    <div class="ui basic segment">
            {% endif %}
                    {% block sidebar %}{% include "sidebar.html" %}{% endblock %}
             {% if not request.user_agent.is_mobile %}
                </div>
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}