{% load staticfiles %}
<div class="ui basic vertical segment">
    <div class="ui segment">
    	<div class="center_aligned">
        	Contest name
        </div>
        <div class="ui clearing divider"></div>
        <div class="center_aligned">
            Remaining time
        </div>
    </div>
    <div class="ui segment">
    	<div class="center_aligned">
        	Materials
        </div>
        <div class="ui clearing divider"></div>
        <div class="center_aligned">
            Some links
        </div>
    </div>
</div>