{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                            {% include "contest_top_sidebar.html" %}
                            <div class="box_roundbox">
                                <div class="box_header">
                                    Upcoming contests
                                </div>
                                <div class="m_box padd_box_bot0">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="table_number">
                                                    Start
                                                </th>
                                                <th class="table_name">
                                                    Name
                                                </th>
                                                <th class="table_extra">
                                                    Length
                                                </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>

                                                <tr>
                                                    <td class="td_number">
                                                        Jun/16/2018 19:35
                                                    </td>
                                                    <td class="td_name">
                                                        <a class="link_hover" href="#">
                                                            RoflCTF
                                                        </a>
                                                    </td>
                                                    <td class="td_extra">
                                                        02:00
                                                    </td>  
                                                </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="padd_box_top2">
                                <div class="box_roundbox">
                                    <div class="box_header">
                                        Past contests
                                    </div>
                                    <div class="m_box padd_box_bot0">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="table_number">
                                                        Start
                                                    </th>
                                                    <th class="table_name">
                                                        Name
                                                    </th>
                                                    <th class="table_extra">
                                                        Length
                                                    </th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>

                                                    <tr>
                                                        <td class="td_number">
                                                            Jun/16/2018 19:35
                                                        </td>
                                                        <td class="td_name">
                                                            <a class="link_hover" href="#">
                                                                RoflCTF
                                                            </a>
                                                        </td>
                                                        <td class="td_extra">
                                                            02:00
                                                        </td>  
                                                    </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include "contest_sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}