{% extends "base.html" %}

{% block content %}
    <div class="tablet mobile hidden">
        <div class="ui container">
            <div class="ui grid">
                <div class="eleven wide column">
                    <div class="ui basic vertical segment">
                        {% include "user_sidebar.html" %}
                        <div class="ui bottom attached segment">
                             <div class="left floated eleven wide column">
                                <div class="ui basic vertical left aligned segment huge_text">{{ request.user.username }}</div>
                            </div>
                            <div class="ui clearing divider"></div>
                            <form class="ui basic vertical segment form error warning" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <input type="text" name="title" placeholder="Title"/>
                                </div>
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        {% if 'title' in message.tags %}
                                            <div class="field m_error">
                                                <div class="ui message error">
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <div class="field">
                                    <textarea name="text" class="mdeditor"></textarea>
                                </div>
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        {% if 'text' in message.tags %}
                                            <div class="field m_error">
                                                <div class="ui message error">
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                                <button class="ui fluid teal button field" type="submit">Write post</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    {% include "sidebar.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="tablet mobile only">
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui basic vertical segment">
                        {% include "user_sidebar.html" %}
                        <div class="ui bottom attached segment">
                             <div class="left floated eleven wide column">
                                <div class="ui basic vertical left aligned segment big_text">{{ request.user.username }}</div>
                            </div>
                            <div class="ui clearing divider"></div>
                            <form class="ui basic vertical segment form error warning" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <input type="text" name="title" placeholder="Title"/>
                                </div>
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        {% if 'title' in message.tags %}
                                            <div class="field m_error">
                                                <div class="ui message error">
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <div class="field">
                                    <textarea name="text" class="mdeditor"></textarea>
                                </div>
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        {% if 'text' in message.tags %}
                                            <div class="field m_error">
                                                <div class="ui message error">
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                                <button class="ui fluid teal button field" type="submit">Write post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}