{% extends "base.html" %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                            <div class="box_roundbox">
                                <div class="padd_box05">
                                    <form method="post">

                                        {% csrf_token %}
                                        Title:
                                        <div class="padd_box1">
                                            <input type="text" name="title" class="post_create_title"
                                                   placeholder="Your title"/>
                                        </div>
                                        {% for message in messages %}
                                            {% if 'title' in message.tags %}
                                                <div class="m_error">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                        Content:
                                        <div class="padd_box1">
                                            <textarea name="text" class="post_create_textarea"></textarea>
                                        </div>
                                        {% for message in messages %}
                                            {% if 'text' in message.tags %}
                                                <div class="m_error">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="post_create_submit_div"><input type="submit" value="Post"/></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        if ($(".post_create_textarea").length) {
            var post_create_textarea_mde = new SimpleMDE({ element : $(".post_create_textarea")[0] });
        }
    </script>

{% endblock %}