{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                            <div class="settings_bar">  
                                <div class="row">
                                    <div class="settings_bar_field">
                                        <a href="{% url 'user_info' user.username %}">{{ user.username }}</a>
                                        <a href="{% url 'settings_general_view' %}">General</a>
                                        <a href="{% url 'settings_social_view' %}">Social</a>
                                    </div>
                                </div>
                            </div>
                            <div class="friends_box_roundbox">
                                <div class="friends_box">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="friends_table_number">
                                                </th>
                                                <th class="friends_table_name">
                                                    Who
                                                </th>
                                                <th class="friends_table_star">
                                                </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for friend in request.user.friends.all %}
                                                <tr>
                                                    <td class="friends_td_number">
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td class="friends_td_name">
                                                        <a class="friends_td_url"
                                                           href="{% url 'user_info' friend.username %}">
                                                            <div class="rank-color-{{ friend.rank }}"> 
                                                                {{ friend.username }}
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td class="friends_td_star">
                                                        <i class="fa fa-star friends_toggle_star" friends_friend_id="{{ friend.id }}"></i>
                                                    </td>  
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}