{% extends "common_template.html" %}
{% load staticfiles %}


{% block templ %}
	<div class="ui bottom attached segment">
		<div class="ui grid">
            <div class="left floated nine wide column">
                <div class="ui huge header break_word">
                    <a href="{% url 'post_view' post.id %}">
                        {{ post.title }}
                    </a>
                </div>
                By 
                <a class="rank-{{ post.author.rank }}" href="{% url 'user_info' post.author.username %}">
                    {{ post.author.username }}
                </a>
                , {{ post.created }}
            </div>
            <div class="right floated seven wide column">
                <a class="ui segment center_aligned write_comment {% if not request.user_agent.is_mobile %}big_text{% else %}mini_text{% endif %}" href="#">
                    Write comment
                </a>
            </div>
        </div>
        <div class="ui segment markdown">
            {{ post.text }}
        </div>
        {% load mptt_tags %}
        <div class="ui comments">
        	{% recursetree post.comments.all %}
        		<div class="comment">
        			<a class="avatar" href="{% url 'user_info' node.author.username %}">
        				<img src="{{ node.author.avatar.small.url }}">
        			</a>
	        		<div class="content">
						<a class="rank-{{ node.author.rank }} author" href="{% url 'user_info' node.author.username %}">{{ node.author.username }}</a>
						<div class="text markdown">
							{{ node.text }}
						</div>
						<div class="actions">
							<a class="reply reply_comment" comment_id={{ node.id }}>Reply</a>
						</div>
					</div>
					{% if not node.is_leaf_node %}
						{% if node.get_ancestors.count >= 5 %}
							<div class="comments" style="padding-left: 0; margin-left: 0; margin-bottom: 0; padding-bottom: 0">
						{% else %}
							<div class="comments" style="margin-bottom: 0; padding-bottom: 0">
						{% endif %}
							{{ children }}
						</div>
					{% endif %}
				</div>
        	{% endrecursetree %}
        </div>
	</div>

    <script>
    	
    	$(".reply_comment").click(function() {
		    var add = !$(this).parent().parent().next().hasClass("comment_form");
		    $(".comment_form").remove();
		    if (add) {
		        $(
		        	'<form class="ui reply form comment_form" method="post" action="{% url 'leave_comment' %}">' +
		            	'<input type="hidden" name="csrfmiddlewaretoken" value="' + getCookie("csrftoken") + '">' +
		            	'<input type="hidden" name="post_id" value="{{ post.id }}">' +
		            	'<input type="hidden" name="parent_id" value="' + $(this).attr('comment_id') + '">' +
						'<div class="field">' +
					    	'<textarea name="text" class="mdeditor"></textarea>' +
					    '</div>' +
					    '<button class="ui blue labeled submit icon button">' +
					    	'<i class="icon edit"></i> Reply' +
					    '</button>' +
					'</form>'
		                ).insertAfter($(this).parent().parent());
		        buildMDE();
		    }
		});

		$(".write_comment").click(function() {
		    var add = !$(this).parent().parent().next().next().hasClass("comment_form");
		    $(".comment_form").remove();
		    if (add) {
		        $(
		            '<form class="ui reply form comment_form" method="post" action="{% url 'leave_comment' %}">' +
		            	'<input type="hidden" name="csrfmiddlewaretoken" value="' + getCookie("csrftoken") + '">' +
		            	'<input type="hidden" name="post_id" value="{{ post.id }}">' +
						'<div class="field">' +
					    	'<textarea name="text" class="mdeditor"></textarea>' +
					    '</div>' +
					    '<button class="ui blue labeled submit icon button">' +
					    	'<i class="icon edit"></i> Write comment' +
					    '</button>' +
					'</form>'
		                ).insertAfter($(this).parent().parent().next());
		        buildMDE();
		    }
		});
    </script>
{% endblock %}