{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                        	{% include "user_sidebar.html" %}
                        	<div class="post">
                                <div class="post_title">
                                    {{ post.title }}
                                </div>
                                <div class="post_author">
                                    By {{ post.author.username }}, {{ post.created }}
                                </div>
                                <div class="post_text">
                                    {{ post.text|markdown }}
                                </div>
                            </div>
                            <div class="post_bar">
                            	<div class="rest">something</div>
                            	<div class="post_comment_button">Post comment</div>
                            </div>
                            {% load mptt_tags %}
							<ul>
							    {% recursetree post.comments.all %}
							    	{% if node.get_ancestors.count >= 1 and node.get_ancestors.count <= 3 %}
							        	<li style="margin-left: 3em">
							        {% else %}
							        	<li>
							        {% endif %}
							            <div class="post_comment" comment_id="{{ node.id }}">
							            	
											<div class="post_comment_user">
												<div class="post_comment_user_avatar">
													<a href="{% url 'user_info' request.user.username %}">
                                                        <img src="{{ request.user.avatar.small.url }}" alt=""
                                                             onerror="this.onerror=null;this.src='{{ settings.DEFAULT_AVATAR_SMALL }}'">
													</a>
												</div>
												<div class="post_comment_user_username">
													<div class="rank-color-{{ node.author.rank }}">
														{{ node.author.username }}
													</div>
												</div>
											</div>

							            	<div class="post_comment_text">
							            		{{ node.text }}

							            		<div class="post_comment_reply">
								            		Reply
								            	</div>

							            	</div>

							            </div> 

							            {% if not node.is_leaf_node %}
							                <ul>
							                    {{ children }}
							                </ul>
							            {% endif %}

							        </li>
							    {% endrecursetree %}
							</ul>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    	$(".post_comment_reply").click(function() {
		    var add = $(this).parent().next().attr("class") != "post_comment_reply_form";
		    $(".post_comment_reply_form").remove();
		    if (add) {
		        $(this).parent().parent().append(
		                '<div class="post_comment_reply_form">' +
		                    "<form method=\"post\" action=\"{% url 'leave_comment' %}\">" + 
		                        '<input type="hidden" name="csrfmiddlewaretoken" value="' + getCookie("csrftoken") + '">' +
		                        '<input type="hidden" name="post" value="{{ post.id }}">' +
		                        '<input type="hidden" name="parent_id" value="' + $(this).parent().parent().attr('comment_id') + '">' +
		                        '<textarea name="text" class="comment_create_textarea">' + 
		                        '</textarea>' + 
		                        '<div class="post_comment_submit_div">' +
		                            '<input type="submit" value="Post"/>' + 
		                        '</div>' +
		                    '</form>' + 
		                '</div>'
		                );
		        var comment_create_textarea_mde = new SimpleMDE({ element : $(".comment_create_textarea")[0] });
		    }
		});
    </script>

{% endblock %}