{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
	<div class="tablet mobile hidden">
		<div class="ui container">
	        <div class="ui grid">
	            <div class="eleven wide column">
	                <div class="ui basic vertical segment">
	                	{% include "user_sidebar.html" %}
	                	<div class="ui bottom attached segment">
	                		<div class="ui huge header break_word">
	                            <a href="{% url 'post_view' post.id %}">
	                                {{ post.title }}
	                            </a>
	                        </div>
	                        By 
	                        <a class="rank-{{ post.author.rank }}" href="{% url 'user_info' post.author.username %}">
	                            {{ post.author.username }}
	                        </a>
	                        , {{ post.created }}
	                        <div class="ui segment markdown">
	                            {{ post.text }}
	                        </div>
	                	</div>
	                </div>
	            </div>
	            <div class="five wide column">
	                {% include "sidebar.html" %}
	            </div>
	        </div>
	    </div>
	</div>
	<div class="tablet mobile only">
		<div class="ui container">
	        <div class="ui grid">
	            <div class="sixteen wide column">
	                <div class="ui basic vertical segment">
	                	{% include "user_sidebar.html" %}
	                	<div class="ui bottom attached segment">
	                		<div class="ui huge header break_word">
	                            <a href="{% url 'post_view' post.id %}">
	                                {{ post.title }}
	                            </a>
	                        </div>
	                        By 
	                        <a class="rank-{{ post.author.rank }}" href="{% url 'user_info' post.author.username %}">
	                            {{ post.author.username }}
	                        </a>
	                        , {{ post.created }}
	                        <div class="ui segment markdown">
	                            {{ post.text }}
	                        </div>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <script>
    	
    	$(".post_comment_reply").click(function() {
		    var add = $(this).parent().next().attr("class") != "post_comment_reply_form";
		    $(".post_comment_reply_form").remove();
		    if (add) {
		        $(this).parent().parent().append(
		                '<div class="post_comment_reply_form">' +
		                    "<form method=\"post\" action=\"{% url 'leave_comment' %}\">" + 
		                        '<input type="hidden" name="csrfmiddlewaretoken" value="' + getCookie("csrftoken") + '">' +
		                        '<input type="hidden" name="post_id" value="{{ post.id }}">' +
		                        '<input type="hidden" name="parent_id" value="' + $(this).parent().parent().attr('comment_id') + '">' +
		                        '<textarea name="text" class="mdeditor">' + 
		                        '</textarea>' + 
		                        '<div class="post_comment_submit_div">' +
		                            '<input type="submit" value="Post"/>' + 
		                        '</div>' +
		                    '</form>' + 
		                '</div>'
		                );
		        buildMDE();
		    }
		});

		$(".post_comment_button").click(function() {
		    var add = $(this).parent().next().attr("class") != "post_comment_reply_form";
		    $(".post_comment_reply_form").remove();
		    if (add) {
		        $(
		                '<div class="post_comment_reply_form">' +
		                    "<form method=\"post\" action=\"{% url 'leave_comment' %}\">" + 
		                        '<input type="hidden" name="csrfmiddlewaretoken" value="' + getCookie("csrftoken") + '">' +
		                        '<input type="hidden" name="post_id" value="{{ post.id }}">' +
		                        '<textarea name="text" class="mdeditor">' + 
		                        '</textarea>' + 
		                        '<div class="post_comment_submit_div">' +
		                            '<input type="submit" value="Post"/>' + 
		                        '</div>' +
		                    '</form>' + 
		                '</div>'
		                ).insertAfter($(this).parent());
		        buildMDE();
		    }
		});
    </script>

{% endblock %}