{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                            <div class="user_box_roundbox">
                            	<div class="user_box">
                            		<div class="user_rank_field">
										<div class="rank-color-{{ user.rank }}"> 
											Noob
										</div>
                            		</div>
                            		<div class="user_username_field">
                            			<div class="rank-color-{{ user.rank }}"> 
											{{ user.username }}
										</div>
                            		</div>
                            		{% if user.first_name and user.last_name or user.country or user.city %}
	                            		<div class="user_name_country_city_field">
	                            			{% if user.first_name and user.last_name %}
	                            				{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
	                            				{% if user.country or user.city %}
	                            					,
	                            				{% endif %}
	                            			{% endif %}
											{% if user.country %}
	                            				{{ user.country.name|capfirst }}
												{% if user.city %}
													,
												{% endif %}
	                            			{% endif %}
	                            			{% if user.city %}
												{{ user.city|capfirst }}
											{% endif %}
	                            		</div>
                            		{% endif %}
                            		{% if user.organization %}
	                            		<div class="user_organization_field">
                            				From organization {{ user.organization|capfirst }}
	                            		</div>
	                            	{% endif %}
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}