{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                        	{% include "user_sidebar.html" %}
                            <div class="user_box_roundbox">
                            	<div class="user_box">
									<div class="user_avatar_field">
                                        <img src="{{ user.avatar.main.url }}" alt=""
                                             onerror="this.onerror=null;this.src='{{ settings.DEFAULT_AVATAR_MAIN }}'">
	                            	</div>

                            		<div class="user_rank_field">
										<div class="rank-color-{{ user.rank }}"> 
											Noob
										</div>
                            		</div>
                            		<div class="user_username_field">
                            			<div class="rank-color-{{ user.rank }}"> 
											{{ user.username }}
										</div>
                            		</div>
                            		{% if user.first_name and user.last_name or user.country or user.city %}
	                            		<div class="user_name_country_city_field">
	                            			{% if user.first_name and user.last_name %}
	                            				{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}{% if user.country or user.city %}, {% endif %}
	                            			{% endif %}
											{% if user.country %}
	                            				{{ user.country.name|capfirst }}{% if user.city %}, {% endif %}
	                            			{% endif %}
	                            			{% if user.city %}
												{{ user.city|capfirst }}
											{% endif %}
	                            		</div>
                            		{% endif %}
                            		{% if user.organization %}
	                            		<div class="user_organization_field">
                            				From organization {{ user.organization.name|capfirst }}
	                            		</div>
	                            	{% endif %}
	                            	<div class="user_rating_field">
	                            		<i class="fas fa-chart-line"></i>
	                            		Rating: 
	                            		<div class="rating_field rank-color-{{ user.rank }}">
	                            			{{ user.rating }}
	                            		</div>
	                            	</div>
	                            	<div class="user_max_rating_field">
	                            		<i class="fas fa-chart-line"></i>
	                            		Maximum rating: 
	                            		<div class="max_rating_field rank-color-{{ user.rank }}">
	                            			{{ user.max_rating }}
	                            		</div>
	                            	</div>
	                            	<div class="user_friends_field">
	                            		<i class="fas fa-user-friends"></i>
	                            		Friend of:
                                        {{ user.friend_count }}
										users
	                            	</div>
	                            	{% if request.user == user %}
		                            	<div class="user_my_friends_field">
		                            		<a href="{% url 'friends_view' %}" class="friends_link"> 
	                            				<i class="fas fa-user-friends"></i></a>
	                            			<a href="{% url 'friends_view' %}" class="friends_link">
	                            				My friends
	                            			</a>
		                            	</div>
	                            	{% endif %}
	                            	<div class="user_date_joined_field">
	                            		<i class="fas fa-registered"></i>
	                            		Registered:
	                            		{{ user.date_joined }}
	                            	</div>
	                            	{% if request.user == user %}
	                            		<div class="user_settings_field">
	                            			<a href="{% url 'settings_general_view' %}" class="settings_link"> 
	                            				<i class="fas fa-cog"></i></a>
	                            			<a href="{% url 'settings_general_view' %}" class="settings_link">
	                            				Change settings
	                            			</a>
	                            		</div>
	                            	{% endif %}
	                            	<div class="user_settings_field">
                            			<a href="{% url 'user_blog_view' user.username %}" class="settings_link">
                            				<i class="fas fa-indent"></i></a>
                            			<a href="{% url 'user_blog_view' user.username %}" class="settings_link">
                            				Blog
                            			</a>
                            		</div>
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}