{% extends "base.html" %}

{% block content %}

<div class="registration_content">
	<div class="container">
		<div class="registration_menu">
			<div class="left">
				<h1>Sign up</h1>
				
				<input type="text" name="username" placeholder="Username" />
				<input type="text" name="email" placeholder="E-mail" />
				<input type="password" name="password" placeholder="Password" />
				<input type="password" name="password2" placeholder="Retype password" />
				
				<input type="submit" name="signup_submit" value="Sign me up" />
			</div>

			<div class="or">OR</div>
		
			<div class="right">
				
				<button class="social-signin facebook">Log in with Facebook</button>
				<button class="social-signin twitter">Log in with Twitter</button>
				<button class="social-signin google">Log in with Google+</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}