{% extends "base.html" %}

{% block content %}

	<div class="ui container">
		<div class="ui basic vertical very padded segment">
			<div class="ui centered grid">
				<div class="seven wide column">
					<div class="ui segment">
						<div class="huge_text">Sign Up</div>
						<div class="ui clearing divider"></div>
						<form class="ui basic vertical segment form error warning" method="post">
							{% csrf_token %}
							<div class="field">
								<input type="text" name="username" placeholder="Handle">
							</div>
							{% for message in messages %}
		                        {% if 'error' in message.tags %}
		                            {% if 'username' in message.tags %}
		                            	<div class="field">
	                            			<div class="ui message error">
	                            				{{ message }}
	                            			</div>
	                            		</div>
		                            {% endif %}
		                        {% endif %}
		                    {% endfor %}
		                    <div class="field">
								<input type="text" name="email" placeholder="E-mail">
							</div>
							{% for message in messages %}
		                        {% if 'error' in message.tags %}
		                            {% if 'email' in message.tags %}
		                            	<div class="field">
	                            			<div class="ui message error">
	                            				{{ message }}
	                            			</div>
	                            		</div>
		                            {% endif %}
		                        {% endif %}
		                    {% endfor %}
							<div class="field">
								<input type="password" name="password1" placeholder="Password" />
							</div>
							{% for message in messages %}
		                        {% if 'error' in message.tags %}
		                            {% if 'password1' in message.tags %}
	                            		<div class="field">
	                            			<div class="ui message error">
	                            				{{ message }}
	                            			</div>
	                            		</div>
		                            {% endif %}
		                        {% endif %}
		                    {% endfor %}
		                    <div class="field">
								<input type="password" name="password2" placeholder="Retype password" />
							</div>
							{% for message in messages %}
		                        {% if 'error' in message.tags %}
		                            {% if 'password2' in message.tags %}
	                            		<div class="field">
	                            			<div class="ui message error">
	                            				{{ message }}
	                            			</div>
	                            		</div>
		                            {% endif %}
		                        {% endif %}
		                    {% endfor %}
							<button class="ui fluid teal button field" type="submit">Sign me up</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}