{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                        	{% include "user_sidebar.html" %}
                            <div class="box_roundbox">
                            	<div class="m_box">
                            		<div class="settings_menu">
                            			<div class="settings_show_username_field">
                            				{{ request.user.username }}
                            			</div>
										<input id="settings_load_avatar" type="button" value="Load avatar"/>
										<input id="settings_load_avatar_input" type="file" name="avatar" data-url="{% url 'settings_general_view' %}" />
										{% for message in messages %}
											{% if 'avatar' in message.tags %}
												<div class="m_error">{{ message }}</div>
											{% endif %}
										{% endfor %}
										<div id="file_upload_bar"></div>
										<form id="settings_general_form" method="post" enctype="multipart/form-data">

											{% csrf_token %}
                                            <input type="text" name="email" placeholder="Email" {% if request.user.email %}value="{{ request.user.email }}"{% endif %}/>
											{% for message in messages %}
												{% if 'email' in message.tags %}
													<div class="m_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<input type="password" name="old_password" placeholder="Old password" />
											{% for message in messages %}
												{% if 'old_password' in message.tags %}
													<div class="m_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<input type="password" name="new_password" placeholder="New password" />
											{% for message in messages %}
												{% if 'new_password' in message.tags %}
													<div class="m_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<div class="settings_show_hint">Leave it blank if you do not want to change the password</div>
											<input type="password" name="new_password2" placeholder="Retype new password" />
											{% for message in messages %}
												{% if 'new_password2' in message.tags %}
													<div class="m_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											
											<input type="submit" value="Change settings" />

										</form>
									</div>
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    	$("#settings_load_avatar").click(function() {
	        $("#settings_load_avatar_input").click();
	    });

    	var settings_general_files = new Array();

	    $(function () {
	        $('#settings_load_avatar_input').fileupload({
	            dataType: 'json',
	            autoUpload: false,
	            add: function(e, data) {
	                $.each(data.files, function(index, file) {
	                    settings_general_files.push(data.files[index]);
	                });
	            },
	            done: function(e, data) {
	                var result = data.result;
	                if (result["success"]) {
	                	window.location.href = window.location.origin + result["next"];
	                }
	                else {
	                	$(".m_error").remove();
	                	var errors = result["errors"];
	                	$.each(errors, function(index, error) {
	                		$('input[name="' + index + '"]').after('<div class="m_error">' + error + '</div>');
	                	});
	                }
	            },
	            fail: function(e, data) {
	                if (data._response.jqXHR.status == 401) {
	                    window.location.href = {% url 'signin' %} + '?next=' + window.location.pathname;
	                }
	            },
	            progressall: function(e, data) {
	                var progress = parseInt(data.loaded / data.total * 100, 10);
	                $("#file_upload_bar").css(
	                    "width", progress + '%'
	                );
	            }
	        });
	    });

	    $("#settings_general_form").submit(function(event) {
	        if (settings_general_files.length > 0) {
	            event.preventDefault();
	            $("#settings_load_avatar_input").fileupload('send', { files: settings_general_files, formData: $('#settings_general_form').serializeArray() });
	        }
	        else {
	        	event.preventDefault();
	        	$.ajax({
	        		type: 'POST',
	        		url: window.location.href,
	        		data: $('#settings_general_form').serializeArray(),
	        		success: function (data) {
	        			var result = data;
		                if (result["success"]) {
		                	window.location.href = window.location.origin + result["next"];
		                }
		                else {
		                	$(".m_error").remove();
		                	var errors = result["errors"];
		                	$.each(errors, function(index, error) {
		                		$('input[name="' + index + '"]').after('<div class="m_error">' + error + '</div>');
		                	});
		                }
	        		},
	        		error: function (data) {
	        			if (data.status == 401) {
		                    window.location.href = {% url 'signin' %} + '?next=' + window.location.pathname;
		                }
	        		}
	        	});
	        }
	    });
	</script>

{% endblock %}