{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                        	<div class="settings_bar">	
				                <div class="row">
				                    <div class="settings_bar_field">
                                        <a href="{% url 'user_info' request.user.username %}">{{ request.user.username }}</a>
                                        <a href="{% url 'settings_general_view' %}">General</a>
                                        <a href="{% url 'settings_social_view' %}">Social</a>
				                    </div>
				                </div>
				            </div>
                            <div class="user_box_roundbox">
                            	<div class="user_box">
                            		<div class="settings_menu">
                            			<div class="settings_show_username_field">
                            				{{ request.user.username }}
                            			</div>
										<form method="post">

											{% csrf_token %}
											
											<input type="text" name="first_name" placeholder="First name (English)" />
											{% for message in messages %}
												{% if 'first_name' in message.tags %}
													<div class="settings_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<input type="text" name="second_name" placeholder="Second name (English)" />
											{% for message in messages %}
												{% if 'second_name' in message.tags %}
													<div class="settings_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<input type="date" name="birth_date" placeholder="Birth date" />
											{% for message in messages %}
												{% if 'birth_date' in message.tags %}
													<div class="settings_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											{% load countries %}
											{% get_countries as countries %}
                                            <label>
                                                <select>
                                                    {% for country in countries %}
                                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                            <input type="text" name="city" placeholder="City (English)"/>
											{% for message in messages %}
												{% if 'city' in message.tags %}
													<div class="settings_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											<input type="text" name="organization" placeholder="Organization (English)" />
											{% for message in messages %}
												{% if 'organization' in message.tags %}
													<div class="settings_error">{{ message }}</div>
												{% endif %}
											{% endfor %}
											
											<input type="submit" value="Change settings" />

										</form>
									</div>
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}