{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="tablet mobile hidden">
		<div class="ui container">
	        <div class="ui grid">
	            <div class="eleven wide column">
	                <div class="ui basic vertical segment">
	                	{% include "user_sidebar.html" %}
	                	<div class="ui bottom attached segment">
	                		 <div class="left floated eleven wide column">
	                            <div class="ui basic vertical left aligned segment huge_text">{{ request.user.username }}</div>
	                        </div>
	                        <div class="ui clearing divider"></div>
	                        <form id="settings_general_form" class="ui basic vertical segment form error warning" method="post">
								{% csrf_token %}
								<button class="ui fluid teal button field" id="load_avatar" type="button">
									Load avatar
								</button>
								<div class="field">
									<input id="load_avatar_input" type="file" name="avatar" data-url="{% url 'settings_general_view' %}" style="display: none;"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'avatar' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="email" placeholder="Email"  {% if request.user.email %}value="{{ request.user.email }}"{% endif %} disabled />
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'email' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="old_password" placeholder="Old password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'old_password' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="new_password" placeholder="New password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'new_password' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="new_password2" placeholder="Retype new password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'new_password2' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<button class="ui fluid teal button field" type="submit">Change settings</button>
							</form>
	                	</div>
	                </div>
	            </div>
	            <div class="five wide column">
	                {% include "sidebar.html" %}
	            </div>
	        </div>
	    </div>
	</div>
	<div class="tablet mobile only">
		<div class="ui container">
	        <div class="ui grid">
	            <div class="sixteen wide column">
	                <div class="ui basic vertical segment">
	                	{% include "user_sidebar.html" %}
	                	<div class="ui bottom attached segment">
	                		 <div class="left floated eleven wide column">
	                            <div class="ui basic vertical left aligned segment big_text">{{ request.user.username }}</div>
	                        </div>
	                        <div class="ui clearing divider"></div>
	                        <form id="settings_general_form" class="ui basic vertical segment form error warning" method="post">
								{% csrf_token %}
								<button class="ui fluid teal button field" id="load_avatar" type="button">
									Load avatar
								</button>
								<div class="field">
									<input id="load_avatar_input" type="file" name="avatar" data-url="{% url 'settings_general_view' %}" style="display: none;"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'avatar' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="email" placeholder="Email"  {% if request.user.email %}value="{{ request.user.email }}"{% endif %} disabled />
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'email' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="old_password" placeholder="Old password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'old_password' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="new_password" placeholder="New password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'new_password' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<div class="field">
									<input type="text" name="new_password2" placeholder="Retype new password"/>
								</div>
								{% for message in messages %}
			                        {% if 'error' in message.tags %}
			                            {% if 'new_password2' in message.tags %}
			                            	<div class="field m_error">
		                            			<div class="ui message error">
		                            				{{ message }}
		                            			</div>
		                            		</div>
			                            {% endif %}
			                        {% endif %}
			                    {% endfor %}
								<button class="ui fluid teal button field" type="submit">Change settings</button>
							</form>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <script>

    	$("#load_avatar").click(function() {
	        $("#load_avatar_input").click();
	    });

    	var settings_general_files = new Array();

	    $(function () {
	        $('#load_avatar_input').fileupload({
	            dataType: 'json',
	            autoUpload: false,
	            add: function(e, data) {
	                $.each(data.files, function(index, file) {
	                    settings_general_files.push(data.files[index]);
	                });
	            },
	            done: function(e, data) {
	                var result = data.result;
	                if (result["success"]) {
	                	window.location.href = window.location.origin + result["next"];
	                }
	                else {
	                	$(".m_error").remove();
	                	var errors = result["errors"];
	                	$.each(errors, function(index, error) {
	                		$('input[name="' + index + '"]').parent().after('<div class="field m_error"><div class="ui message error">' + error + '</div></div>');
	                	});
	                }
	            },
	            fail: function(e, data) {
	                if (data._response.jqXHR.status == 401) {
	                    window.location.href = {% url 'signin' %} + '?next=' + window.location.pathname;
	                }
	            }
	        });
	    });

	    $("#settings_general_form").submit(function(event) {
	        if (settings_general_files.length > 0) {
	            event.preventDefault();
	            $("#load_avatar_input").fileupload('send', { files: settings_general_files, formData: $('#settings_general_form').serializeArray() });
	        }
	        else {
	        	event.preventDefault();
	        	$.ajax({
	        		type: 'POST',
	        		url: window.location.href,
	        		data: $('#settings_general_form').serializeArray(),
	        		success: function (data) {
	        			var result = data;
		                if (result["success"]) {
		                	window.location.href = window.location.origin + result["next"];
		                }
		                else {
		                	$(".m_error").remove();
		                	var errors = result["errors"];
		                	$.each(errors, function(index, error) {
		                		$('input[name="' + index + '"]').parent().after('<div class="field m_error"><div class="ui message error">' + error + '</div></div>');
		                	});
		                }
	        		},
	        		error: function (data) {
	        			if (data.status == 401) {
		                    window.location.href = {% url 'signin' %} + '?next=' + window.location.pathname;
		                }
	        		}
	        	});
	        }
	    });
	</script>

{% endblock %}