<div class="sidebar">
    <div class="contest_sidebar">
        Тут описание некст контеста
    </div>
    {% if request.user.is_authenticated %}
	    <div class="user_sidebar">
	        
	    </div>
    {% endif %}
    <div class="rating_sidebar">
        <div class="rating_sidebar_header"><i class="fas fa-chess-king"></i> Top rated</div>
        <table>
        	<thead>
        		<tr>
        			<th class="rating_sidebar_table_header_number">#</th>
        			<th class="rating_sidebar_table_header_user">User</th>
        			<th class="rating_sidebar_table_header_rating">Rating</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td class="rating_sidebar_table_number">1</td>
        			<td class="rating_sidebar_table_user"><div class="rank-color-0">lol</div></td>
        			<td class="rating_sidebar_table_rating">1000</td>
        		</tr>
        	</tbody>
        </table>
    </div>
    <div class="find_user_sidebar">
    	<div class="find_user_sidebar_header"><i class="fas fa-search"></i> Find user</div>
        <div class="find_user_sidebar_input"><input class="find_user_sidebar_input_field" type="text" name="username" placeholder="Handle" /></div>
        <table class="find_user_hint_table">
        	<thead>
        		<tr>
        			<th>
        				<div class="find_user_hint_table_header">
        					Possible variants
        				</div>
        			</th>
        		</tr>
        	</thead>
			<tbody>
			</tbody>
        </table>
        <div class="find_user_sidebar_button"><input type="submit" value="Search" /></div>
    </div>
</div>