{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                            <div class="box_roundbox">
                            	<div class="m_box">
                                    <div class="header_field">
                                        Tasks
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="table_number">
                                                    №
                                                </th>
                                                <th class="table_name">
                                                    Name
                                                </th>
                                                <th class="table_tags">
                                                    Tags
                                                </th>
                                                <th class="table_cost">
                                                    Cost
                                                </th>
                                                <th class="table_extra">
                                                    Solved
                                                </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for task in tasks %}
                                                {% if request.user in task.solved_by.all %}
                                                    <tr style="background: #00ff0044">
                                                {% else %}
                                                    <tr>
                                                {% endif %}
                                                    <td class="td_number">
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td class="td_name">
                                                        <a class="link_hover"
                                                           href="{% url 'task_view' task.id %}">
                                                            {{ task.name }}
                                                        </a>
                                                    </td>
                                                    <td class="td_tags">
                                                        {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
                                                    </td>
                                                    <td class="td_cost">
                                                        {{ task.cost }}
                                                    </td>
                                                    <td class="td_extra">
                                                        {% if perms.website.view_who_solved_task %}
                                                            <a href="{% url 'task_solved_view' task.id %}">
                                                                <div style="height:100%;width:100%">
                                                                    {{ task.solved_by.count }}
                                                                </div>
                                                            </a>
                                                        {% else %}
                                                            {{ task.solved_by.count }}
                                                        {% endif %}
                                                    </td>  
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            		<div class="tasks_links">
                            			{% if page > 1 %}
                            				<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page|add:'-1' %}"><i class="fas fa-arrow-left"></i></a></div>
                            				<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' 1 %}">1</a></div>
                            			{% else %}
                            				<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' 1 %}"><i class="fas fa-arrow-left disabled-link"></i></a></div>
                            			{% endif %}
                            			{% if page > 2 %}
                            				...
                            				<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page|add:"-1" %}">{{ page|add:"-1" }}</a></div>
                            			{% endif %}
										<div class="navigation_link_active"><a href="{% url 'task_archive_view_with_page' page %}">{{ page }}</a></div>
										{% if page < page_count|add:"-1" %}
											<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page|add:"1" %}">{{ page|add:"1" }}</a></div>
											...
										{% endif %}
                            			{% if page < page_count %}
											<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page_count %}">{{ page_count }}</a></div>
											<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page|add:'1' %}"><i class="fas fa-arrow-right"></i></a></div>
										{% else %}  
											<div class="navigation_link"><a href="{% url 'task_archive_view_with_page' page_count%}"><i class="fas fa-arrow-right disabled-link"></i></a></div> 
										{% endif %}                        			
                            		</div>
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}