{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="main_page_content">
                        <div class="wall">
                        	<div class="settings_bar">	
				                <div class="row">
				                	{% if request.user == user %}
					                    <div class="settings_bar_field">
					                    	<a href="{% url 'user_info' user.username %}">{{ user.username }}</a>
					                    	<a href="{% url 'user_blog_view' user.username %}">Blog</a>
					                        <a href="{% url 'settings_general_view' %}">General</a>
					                        <a href="{% url 'settings_social_view' %}">Social</a>
					                    </div>
				                    {% else %}
				                    	<div class="settings_bar_field">
					                    	<a href="{% url 'user_info' user.username %}">{{ user.username }}</a>
					                        <a href="{% url 'user_blog_view' user.username %}">Blog</a>
					                    </div>
				                    {% endif %}
				                </div>
				            </div>
                            <div class="user_box_roundbox">
                            	<div class="user_box">
                            		{% if request.user == user %}
	                            		<div class="user_posts_write">
	                            			<a href="{% url 'post_creation_view' %}" class="write_post_link">
	                            				<i class="fas fa-indent"></i></a>
	                        				<a href="{% url 'post_creation_view' %}" class="write_post_link">
	                        					Write post
	                        				</a>
	                            		</div>
	                            	{% endif %}
                            		<div class="user_username_field">
                            			{{ user.username }}'s blog
                            		</div>
                            		<div class="user_posts_box">	
                            			{% for post in posts %}
                            				<div class="post">
			                                    <div class="post_title">
			                                        {{ post.title }}
			                                    </div>
			                                    <div class="post_author">
                                                    By {{ post.author.username }}, {{ post.created }}
			                                    </div>
			                                    <div class="post_text">
			                                        {{ post.text|markdown }}
			                                    </div>
			                                </div>
                            			{% endfor %}
                            		</div>
                            		<div class="user_posts_links">
                            			{% if page > 1 %}
                            				<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page|add:'-1' %}"><i class="fas fa-arrow-left"></i></a></div>
                            				<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username 1 %}">1</a></div>
                            			{% else %}
                            				<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username 1%}"><i class="fas fa-arrow-left disabled-link"></i></a></div>
                            			{% endif %}
                            			{% if page > 2 %}
                            				...
                            				<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page|add:"-1" %}">{{ page|add:"-1" }}</a></div>
                            			{% endif %}
										<div class="user_posts_links_link_active"><a href="{% url 'user_blog_view_with_page' user.username page %}">{{ page }}</a></div>
										{% if page < page_count|add:"-1" %}
											<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page|add:"1" %}">{{ page|add:"1" }}</a></div>
											...
										{% endif %}
                            			{% if page < page_count %}
											<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page_count %}">{{ page_count }}</a></div>
											<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page|add:'1' %}"><i class="fas fa-arrow-right"></i></a></div>
										{% else %}  
											<div class="user_posts_links_link"><a href="{% url 'user_blog_view_with_page' user.username page_count%}"><i class="fas fa-arrow-right disabled-link"></i></a></div> 
										{% endif %}                        			
                            		</div>
                            	</div>
                            </div>
                        </div>

                        {% include "sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}