{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <script src="{% static 'dist/bundle.js' %}"></script>
    </head>
    <body>
        <div class="full_wrap">
            <div class="small_block">
                {% include 'snippets/form_begin.html' with form_name='reset_password_email_form' %}
                    <input type="text" name="email" placeholder="Email"/>
                    <input type="submit" value="Reset password" />
                {% include 'snippets/form_end.html' with form_name='reset_password_email_form' %}
            </div>
        </div>
    </body>
</html>