{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <script src="{% static 'dist/bundle.js' %}"></script>
    </head>
    <body>
        <div class="full_wrap">
            <div class="small_block">
                <form method="post" action="{% url 'password_reset_password' %}">
                    {% csrf_token %}
                    <input type="password" name="new_password1" placeholder="Password"/>
                    {% for message in messages %}
                        {% if 'new_password1' in message.tags %}
                            <div class="m_error">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <input type="password" name="new_password2" placeholder="Repeat password"/>
                    {% for message in messages %}
                        {% if 'new_password2' in message.tags %}
                            <div class="m_error">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="submit" value="Reset password" />
                </form>
            </div>
        </div>
    </body>
</html>